.contact {
    display: flex;
    flex-direction: column;
}

.formIntro {
    margin-bottom: 2em;
}

.formContainer {
    height: 660px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label {
    font-size: 1.1rem;
    margin-bottom: 12px;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.input {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 25px;
}

.textarea {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 25px;
}

.submit {
}

.submitMsg {
    /* min-height: 550px; */
}

@media screen and (min-width: 768px) {
    .contact {
        display: grid;
        grid-template-columns: 0.8fr 1.2fr;
        grid-template-rows: auto 1fr auto;
        column-gap: 2em;
    }
}
